.tantum-block{
    margin-bottom: 3rem;
    position: relative;
    h2{
        font-size: 1.6rem;
        font-family: "Playfair Display", serif;

    }
    p{
        line-height: 1.5;
    }
}

.main-aboutus{
    background-image: url("./../../images/small/tantum-tint-bg.jpg");
    background-position: right bottom;
    padding-bottom: 9rem;
    
    .tantum-block.safe-hands{
        background: url("./../../images/small/tantum-house-hall.jpg")  left top no-repeat;
        min-height: 33.2rem;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 3.6rem;
        margin: 0 0 1rem 0;
        .content{
            background: #fff;
            padding: 1.5rem;
            margin-left: 9.3rem;
            width: 24.5rem;
            margin-left: auto;
            p{
                color: #000;
                padding-top: 0.5rem;
            }
        }

        .btn-block{
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(to right, rgba(0,0,0,0) 0rem , #e8e6e6 0%),
            url("./../../images/small/tantum-pattern-semi-squre.png");
            background-repeat: no-repeat, no-repeat;
            background-position: left 9.3rem bottom 2.5rem, left bottom;
            margin-left: auto;
            width: 33.7rem;
            padding: 2.5em 0 5rem 9.5rem;
            margin-bottom: 1.3rem;
        }
    }

    .tantum-block.motive{
        margin-left: 3.6rem;
        background-image: url("./../../images/small/tantum-house-ventilator.jpg"),
        linear-gradient(to left, #e8e6e6 100%, rgba(0,212,255,0) 0rem),
        url("./../../images/small/tantum-dotts-squre.png");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: right 5.6rem, left -12rem bottom 6rem, right 2rem bottom;
        height: 32.4rem;
        ul{
            padding: 1.6rem;
            padding-right: 4.6rem;
            margin-right: 12rem;
        
            li:last-child{
                margin-bottom: 0.4rem;
            }
            li{
                border-bottom: 1px solid #757575;
                padding-bottom: 0.5rem;
                margin-bottom: 2rem;
                h3{
                    font-size: 1.6rem;
                    font-family: "Playfair Display", serif;
                    margin-bottom: 0.2em;
                }
                div{
                    list-style: 1.5;
                    font-size: 1.1rem;
                    display: none;
                    margin-bottom: 0.5rem;
                }
                a{
                    margin-left: auto;
                    display: block;
                    background: url("./../../images/more-down-btn.svg") no-repeat right center;
                    background-size: 1rem 0.5rem;
                }
            }
            li.show{
                div{
                    display: block;
                }
                a{
                    background: url("./../../images/more-up-btn.svg") no-repeat right center;
                }
            }
        }
    }

    .tantum-block.meet-the-team{
        margin-left: 3.6rem;
        margin-bottom: 0;
        h2{
            margin-bottom: 2rem;
        }
        .photo-gallery{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
            grid-row-gap: 4rem;
            padding-right: 2rem;
            justify-content: left;
            

            div{
                display: flex;
                flex-direction: column;
                text-align: left;
                font-size: 1.1rem;
                

                .profile-info{
                    padding-right: 3rem;
                    vertical-align: top;
                    padding-top: 9rem;
                }

                h5{
                    font-weight: bold;
                    color: #000;
                }
            }
        
            div.tantum-md{
                background: url("./../../images/small/tantum-managing-director.jpg") left top / 8.2rem no-repeat;
            }
            div.tantum-crm{
                background: url("./../../images/small/tantum-relation-ship-manager.jpg") left top / 8.2rem no-repeat;
            }
            div.tantum-pm{
                background: url("./../../images/small/tantum-project-manager.jpg") left top / 8.2rem no-repeat;
            }
            div.tantum-fc{
                background: url("./../../images/small/tantum-finance-controller.jpg") left top / 8.2rem no-repeat;
            }
            div.tantum-mm{
                background: url("./../../images/small/tantum-marketing-manager.jpg") left top / 8.2rem no-repeat;
            }
            div.tantum-oa{
                background: url("./../../images/small/tantum-office-admin.jpg") left top / 8.2rem no-repeat;
            }
            div.tantum-pd{
                background: url("./../../images/small/tantum-product-dev-manager.jpg") left top / 8.2rem no-repeat;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px){

    .tantum-block{
        h2{
            font-size: 3.2rem;
        }
        p{
            font-size: 1.6rem;
        }
    }

    .main-aboutus{
        background: url("./../../images/medium/tantum-tint-bg.jpg")  right bottom no-repeat;
        
        .tantum-block.safe-hands{
            background: url("./../../images/medium/tantum-house-hall.jpg") left top / 102.3rem 38rem no-repeat;
            min-height: 55rem;
            align-items: flex-end;
            justify-content: flex-end;
            padding-top: 6.2rem;
            
            .content{
                padding: 2rem;
                width: 37.5rem;
            }
    
            .btn-block{
                width: 70rem;
                background-image:linear-gradient( to left,  #e8e6e6 0px,  #e8e6e6 37.5rem,  rgba(0,0,0,0) 0),
                url("./../../images/medium/tantum-pattern-about-us.png");
                background-repeat: no-repeat, no-repeat;
                background-position: right 0rem bottom 5rem, right 39.2rem top 2rem;
                padding-left: 35rem;
                padding-top: 0;
                height:17rem;
                justify-content: center;
                align-items: flex-start;
                padding-top: 4rem;
       
                button{
                    font-size: 1.4rem;
                    position: relative;
                }
            }
        }
    
        .tantum-block.motive{
            margin-left: 6.5rem;
            margin-bottom: 0;
            background-image: url("./../../images/medium/tantum-house-ventilator.jpg"),
            linear-gradient(to left, #e8e6e6 100%, rgba(0,212,255,0) 0rem);
            background-repeat: no-repeat, no-repeat;
            background-position: right 5.6rem, left -25rem bottom 7.5rem;
            height: 55.4rem;
            ul{
                margin-right: 25rem;
                padding-right: 9rem;
                li{
                    h3{
                        font-size: 3.2rem;
                    }
                    div{
                        line-height: 1.5;
                        font-size: 1.6rem;
                    }
                    a{
                        background: url("./../../images/more-down-btn.svg") no-repeat right center;
                        background-size: 2rem 1rem;
                    }
                }
                li.show{
                    a{
                        background: url("./../../images/more-up-btn.svg") no-repeat right center;
                        background-size: 1.5rem 1rem;
                    }
                }
            }
        }
    
        .tantum-block.meet-the-team{
            margin-left: 3.6rem;
            margin-bottom: 0;
            h2{
                margin-bottom: 2rem;
            }
            .photo-gallery{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
                grid-row-gap: 4rem;
                padding-right: 2rem;
                justify-content: left;
    
                div{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    font-size: 1.3rem;
                    
    
                    .profile-info{
                        padding-right: 3rem;
                        vertical-align: top;
                        padding-top: 18rem;
                    }
    
                    h5{
                        font-weight: bold;
                        color: #000;
                    }
                }
            
                div.tantum-md{
                    background: url("./../../images/medium/tantum-managing-director.jpg") no-repeat;
                }
                div.tantum-crm{
                    background: url("./../../images/medium/tantum-relation-ship-manager.jpg") no-repeat;
                }
                div.tantum-pm{
                    background: url("./../../images/medium/tantum-project-manager.jpg") no-repeat;
                }
                div.tantum-fc{
                    background: url("./../../images/medium/tantum-finance-controller.jpg") no-repeat;
                }
                div.tantum-mm{
                    background: url("./../../images/medium/tantum-marketing-manager.jpg") no-repeat;
                }
                div.tantum-oa{
                    background: url("./../../images/medium/tantum-office-admin.jpg") no-repeat;
                }
                div.tantum-pd{
                    background: url("./../../images/medium/tantum-product-dev-manager.jpg") no-repeat;
                }
            }
        }
    }
    
}

@media screen and (min-width:1024px){

    .tantum-block{
        h2{
            font-size: 4.2rem;
        }
        p{
            font-size: 2rem;
        }
    }

    .main-aboutus{
        background: url("./../../images/large/tantum-tint-bg.jpg")  right bottom no-repeat;
        
        .tantum-block.safe-hands{
            background: url("./../../images/large/tantum-house-hall.jpg") left top / 120rem 38rem no-repeat;
            min-height: 61rem;
            align-items: flex-end;
            justify-content: flex-end;
            padding-top: 6.2rem;
            .content{
                padding: 2rem;
                width: 57rem;
            }
    
            .btn-block{
                width: 97rem;
                background-image:linear-gradient( to left,  #e8e6e6 0px,  #e8e6e6 57rem,  rgba(0,0,0,0) 0),
                url("./../../images/large/tantum-pattern-semi-squre.png");
                background-repeat: no-repeat, no-repeat;
                background-position: right 0rem bottom 10rem, right 59rem bottom 2rem;
                padding-left: 44.7rem;
                padding-top: 0;
                height:23rem;
                justify-content: center;
                align-items: flex-start;
                padding-top: 4rem;
                button{
                    font-size: 1.4rem;
                    position: relative;
                    padding: 1rem 5rem;
                }
            }
        }
    
        .tantum-block.motive{
            margin-left: 6.5rem;
            margin-bottom: 0;
            background-image: url("./../../images/large/tantum-house-ventilator.jpg"),
            linear-gradient(to left, #e8e6e6 100%, rgba(0,212,255,0) 0rem);
            background-repeat: no-repeat, no-repeat;
            background-position: right 5.6rem, left -25rem bottom 7.5rem;
            height: 55.4rem;
            ul{
                
                padding: 4rem;
                margin-right: 30rem;
                padding-right: 9rem;
                li{
                    h3{
                        font-size: 4.2rem;
                    }
                    div{
                        line-height: 1.5;
                        font-size: 2rem;
                    }
                    a{
                        background: url("./../../images/more-down-btn.svg") no-repeat right center;
                        background-size: 2rem 1rem;
                    }
                }
                li.show{
                    a{
                        background: url("./../../images/more-up-btn.svg") no-repeat right center;
                        background-size: 1.5rem 1rem;
                    }
                }
            }
        }
    
        .tantum-block.meet-the-team{
            margin-left: 3.6rem;
            margin-bottom: 0;
            margin:0 15%;
            h2{
                margin-bottom: 2rem;
            }
            .photo-gallery{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
                grid-row-gap: 4rem;
                padding-right: 2rem;
                justify-content: left;
    
                div{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    font-size: 1.4rem;
                    
    
                    .profile-info{
                        padding-right: 3rem;
                        vertical-align: top;
                        padding-top: 18rem;
                    }
    
                    h5{
                        font-weight: bold;
                        color: #000;
                    }
                }
            
                div.tantum-md{
                    background: url("./../../images/medium/tantum-managing-director.jpg") no-repeat;
                }
                div.tantum-crm{
                    background: url("./../../images/medium/tantum-relation-ship-manager.jpg") no-repeat;
                }
                div.tantum-pm{
                    background: url("./../../images/medium/tantum-project-manager.jpg") no-repeat;
                }
                div.tantum-fc{
                    background: url("./../../images/medium/tantum-finance-controller.jpg") no-repeat;
                }
                div.tantum-mm{
                    background: url("./../../images/medium/tantum-marketing-manager.jpg") no-repeat;
                }
                div.tantum-oa{
                    background: url("./../../images/medium/tantum-office-admin.jpg") no-repeat;
                }
                div.tantum-pd{
                    background: url("./../../images/medium/tantum-product-dev-manager.jpg") no-repeat;
                }
            }
        }
    }
    
}