.hidden{
    text-indent: -200em;
    overflow: hidden;
    display: inline-block;
}

button{
    background: #fff;
    min-width: 9rem;
    padding: 1rem 0;
    border: 1px solid #b3b3b3;
    font-family: 'Play', sans-serif;
    display: inline-block;
    cursor: pointer;
}
.no-hand-hold{
    display: none;
}

a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}


.screen{
    background: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 1;
}

.screen.show{
    display: block;
}


.show a.nav-icon {
    background: #fff url("./../images/tantum-nav-close-btn.svg") no-repeat right top;
}

a.nav-icon {
    background: #fff url("./../images/tantum-menu-icon.svg") no-repeat right top;
    padding: 0.3rem 1rem;
    float: right;
    margin-right: 2rem;
    margin-top: 3rem;
}

 

.tantum-wrapper > header{
    padding: 1.8rem 3.2rem 2rem 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    
    nav.small {
        position: absolute;
        right: 0; top: 0;
        min-width: 25rem;
        background: #fff;
        font-size: 1.2rem;
        padding-top: 1.5rem;
        z-index: 1;
        
        ul{
            clear: both;
            padding-top: 2rem;
            display: none;

            li {
                margin-bottom: 1rem;

                a{
                    display: block;
                    padding: 1.5rem 2rem;
                }

                a:hover{
                    background: #e8e8e8;
                }
            }

            li:last-child{
                a{
                    background: url("./../images/tantum-download-brouchure.svg") no-repeat 2rem center;
                    text-indent: 3.5rem;
                    font-family: 'Play', sans-serif;
                }
                a:hover{
                    background:  #e8e8e8 url("./../images/tantum-download-brouchure.svg") no-repeat 2rem center;
                    text-indent: 3.5rem;
                }
            }
        }

    }
    nav.small.show {
        height: 100vh;
        ul{
            display: block;
        }
    }
    nav.small,
    nav.small.show {
        ul.no-hand-hold{
            display: none;
        }
    }

}


.tantum-logo{
    background: url("./../images/tantum-logo.svg") no-repeat center;
    padding: 4rem 3.5rem;
    background-size: contain;
    margin-left: 1.8rem;
}

footer{
    background: #7b7b7b;
    text-align: center;
    color: #fff;
    padding: 2rem 0;
    p{
        font-size: 1.6rem;
        font-family: 'Playfair Display', serif;
        margin-bottom: 0.7rem;
    }
    span{
        display: block;
        margin-bottom: 1.5rem;
    }
    button{
        background: #ffffff;
        border:1px solid #b3b3b3;
        font-family: 'Play', sans-serif;
        padding: 0.5rem 1.6rem;
    }
}

@media screen and (min-width:768px){
    footer{
        p{
            font-size: 3.2rem;
        }
        span{
           font-size: 1.6rem;
        }
        button{
           font-size: 1.4rem;
        }
    }
    .tantum-logo{
        padding: 5.3rem 4.6rem;
    }
    
}

@media screen and (min-width:1024px){
    .screen{
        display: none;
    }
    .hand-hold{
        display: none;
    }
    .tantum-wrapper > header{
        padding-right: 0;
        padding-left: 13rem;
        .tantum-logo{
            padding: 7rem 6rem;
        }
        nav.no-hand-hold {
            display: block;
            ul li a:hover{
                background: transparent;
            }
            ul li:last-child a:hover{
                background:  url("./../images/tantum-download-brouchure.svg") no-repeat 2rem center;
            }
        }

        nav.no-hand-hold {
            position: relative;
            height: auto;
            min-width: auto;
            background: #fff;
            font-size: inherit;
            padding-top: 0;
        }
        nav.no-hand-hold{
            .nav-icon.hidden{
                display: none;
            }

            ul {
                display: flex;
                font-size: 1.4rem;
                text-transform: uppercase;
    
                li{
                    margin-left: 2.6rem;

                    a{
                        background: #fff;
                        display: inline-block;
                        padding: 0;
                    }
                    a:hover,
                    a.active{
                        color: #0c707d;
                        background: transparent;
                    }
                }
                li:last-child{
                    padding: 0;
                    position: relative;
                    top:-0.8rem;
                    cursor: pointer;
    
                    a{
                        background: url("./../images/tantum-download-brouchure.svg") no-repeat 2rem center;
                        text-indent: 3.5rem;
                        font-family: 'Play', sans-serif;
                        padding-left: 1rem;

                        span{
                            display: block;
                        }
                    }
                }
            }
        } 
        
    }

    footer{
        p{
            font-size: 4.2rem;
        }
        span{
           font-size: 1.8rem;
        }
        button{
           font-size: 1.4rem;
        }
    }
    
}