*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 100%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html,
body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.tantum-wrapper{
    max-width: 116.6rem;
    margin:0 auto;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

@media screen and (max-width:375px){
    // html{
    //     font-size: 50%;
    // }
}