header.page-header{
    nav.page-navi{
        ul{
            display: flex;
            justify-content: center;
            padding: 1rem 0;

            li {
                margin: 0 2rem;
                text-transform: uppercase;

                a:hover,
                a.active{
                    color: #0c707d;
                    background: transparent;
                }
            }
        }
    }

}

.tantum-block {

}

.tantum-block.project-beach{
    background: url("./../../images/small/tantum-project-UK.jpg") right 4rem top 11rem no-repeat,
    url("./../../images/small/tantum-in-UK.jpg") no-repeat;
    

    .address-project{
        display: flex;
        padding: 2rem 2rem 21rem 0;
        margin-left: 3.5rem;
        
        & > div {
            flex-basis: 60%;
            padding-left: 2rem;
        }
        & > div:first-child {
            flex-basis: 40%;
        }
        div.project-title{
            h5{
                font-size: 1.6rem;
                font-family: 'Playfair Display', serif;
            }
        }

        div.project-detail{
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
            color: #000;
        
            & > div {
                display: flex;
                flex-direction: column;
                div{
                    flex-basis: 70%;
                    display: flex;
                    padding: 0.2rem;
                    height: auto;
                }
                div:first-child{
                    flex-basis: 30%;
                }
            }
        }
    }
    .project-description{
        margin:0 4rem 0 3.5rem;
        padding: 1.5rem;
        background: #e8e6e6 url("./../../images/small/tantum-beach-UK.jpg") top 2rem right 1.5rem no-repeat;

        p:first-child{
            margin-right: 17rem;
            padding-top: 0.5rem;
        }

        p {
            line-height: 1.5;
            margin-bottom: 1.5rem;
            color: #000;
            font-size: 1.1rem;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    header.page-header{
        nav.page-navi{   
                li {
                    font-size: 1.2rem;
                }
            }
    }
    
    .tantum-block.project-beach{
        background: url("./../../images/medium/tantum-project-UK.jpg") right 4.5rem top 16.6rem no-repeat,
        url("./../../images/medium/tantum-in-UK.jpg") no-repeat;
        
    
        .address-project{
            display: flex;
            padding: 2rem 2rem 45rem 0;
            margin-left: 4.5rem;
            
            & > div {
                flex-basis:50%;
                padding-left: 2rem;
            }
            & > div:first-child {
                flex-basis: 50%;
            }
            div.project-title{
                h5{
                    font-size: 3.2rem; /*x*/
                    font-family: 'Playfair Display', serif;
                }
            }
    
            div.project-detail{
                display: flex;
                flex-direction: column;
                font-size: 1.6rem;
                color: #000;
                align-content: flex-start;
                border-left: 1px solid #b6b6b6;
                padding-left: 5rem;

                & > div {
                    display: flex;
                    flex-direction: column;
                    div{
                        flex-basis: 70%;
                        display: flex;
                        padding: 0.2rem;
                    }
                    div:first-child{
                        flex-basis: 30%;
                    }
                }
            
               
            }
        }
        .project-description{
            margin:0 4.5rem 0 3.5rem;
            padding: 2.5rem;
            columns: 2 auto;
            column-gap: 9.5rem;
            background: #e8e6e6;
    
            p:first-child{
                margin-right: 0;
                padding-top: 0.5rem;
            }

            p:last-child{
                background:  url("./../../images/medium/tantum-beach-UK.jpg") top 1rem right   no-repeat;
                padding-top: 34rem;
                padding-bottom: 5rem;
            }
    
            p {
                margin-bottom: 2rem;
                font-size: 1.4rem;
            }
        }
    }
}


@media screen and (min-width:1024px){
    header.page-header{
        nav.page-navi{   
                padding: 2rem 0;
                li {
                    font-size: 1.4rem;
                }
            }
    }
    .tantum-block.project-beach{
        background: url("./../../images/large/tantum-project-UK.jpg") right 7rem top 16.6rem no-repeat,
        url("./../../images/large/tantum-in-UK.jpg") right top no-repeat;
        
    
        .address-project{
            display: flex;
            padding: 2rem 2rem 64rem 0;
            margin-left: 13.8rem;
            
            & > div {
                flex-basis:50%;
                padding-left: 2rem;
            }
            & > div:first-child {
                flex-basis: 50%;
            }
            div.project-title{
                h5{
                    font-size: 4.2rem; /*x*/
                    font-family: 'Playfair Display', serif;
                }
            }
    
            div.project-detail{
                display: flex;
                flex-direction: column;
                font-size: 2rem;
                color: #000;
                align-content: flex-start;
                border-left: 1px solid #b6b6b6;
                padding-left: 5rem;

                & > div {
                    display: flex;
                    flex-direction: column;
                    div{
                        flex-basis: 70%;
                        display: flex;
                        padding: 0.2rem;
                    }
                    div:first-child{
                        flex-basis: 30%;
                    }
                }
            
               
            }
        }
        .project-description{
            margin:0 4.5rem 0 3.5rem;
            padding: 2.5rem;
            columns: 2 auto;
            column-gap: 9.5rem;
            background: #e8e6e6;
    
            p:first-child{
                margin-right: 0;
                padding-top: 0.5rem;
            }

            p:last-child{
                background:  url("./../../images/large/tantum-beach-UK.jpg") top 1rem right   no-repeat;
                padding-top: 34rem;
                padding-bottom: 5rem;
            }
    
            p {
                margin-bottom: 2rem;
                font-size: 1.4rem;
            }
        }
    }
}

