header.page-header{
    nav.page-navi{
        ul{
            display: flex;
            justify-content: center;
            padding: 1rem 0;

            li {
                margin: 0 2rem;
                text-transform: uppercase;

                a:hover,
                a.active{
                    color: #0c707d;
                    background: transparent;
                }
            }
        }
    }

}



@media screen and (min-width:768px) and (max-width:1023px){
    header.page-header{
        nav.page-navi{   
                li {
                    font-size: 1.2rem;
                }
            }
    }

}


@media screen and (min-width:1024px){
    header.page-header{
        nav.page-navi{   
                padding: 2rem 0;
                li {
                    font-size: 1.4rem;
                }
            }
    }
}

