.country-uk{

.tantum-block {

    .seen-beach,
    .seen-statium{
        background:  url("./../../../images/small/tantum-beach-UK.jpg") top  right  no-repeat;
    }

    .seen-statium{
        background:  url("./../../../images/small/tantum-stadium-UK.jpg") top 2rem right 1.5rem no-repeat;
    }

}

.tantum-block.project-beach{
    background: url("./../../../images/small/tantum-project-UK.jpg") right 4rem top 11rem no-repeat,
    url("./../../../images/small/tantum-in-UK.jpg") center top no-repeat;
    margin-bottom: 4rem;
}
.tantum-block.project-post-office{
    background: url("./../../../images/small/tantum-mall-UK.jpg") left 3.5rem top 11.5rem no-repeat,
    url("./../../../images/small/tantum-in-UK-II.jpg") right top  no-repeat;
    
}


}

@media screen and (min-width:768px) and (max-width:1023px){
    .country-uk {
        .tantum-block{         
            .seen-beach,
            .seen-statium{
                background:  url("./../../../images/medium/tantum-beach-UK.jpg") top  right  no-repeat;
            }
    
            .seen-statium{
                background:  url("./../../../images/medium/tantum-stadium-UK.jpg") top right no-repeat;
            }
        }
        
    
        .tantum-block.project-beach{
            background: url("./../../../images/medium/tantum-project-UK.jpg") right 4.5rem top 16.6rem no-repeat,
            url("./../../../images/medium/tantum-in-UK.jpg") no-repeat; 
        }
    
        .tantum-block.project-post-office{
            background: url("./../../../images/medium/tantum-mall-UK.jpg") left 3.5rem top 17.5rem no-repeat,
            url("./../../../images/medium/tantum-in-UK-II.jpg") right top  no-repeat;
            .address-project{
                display: flex;
                padding: 2rem 2rem 46rem 0;
            }
            
        }
    
    }
}

@media screen and (min-width:1024px){
    .country-uk {
    
        .tantum-block.project-beach{
            background: url("./../../../images/large/tantum-project-UK.jpg") right 7rem top 20rem no-repeat,
            url("./../../../images/large/tantum-in-UK.jpg") no-repeat; 
            margin-bottom: 9rem;
        }
    
        .tantum-block.project-post-office{
            background: url("./../../../images/large/tantum-mall-UK.jpg") left 7.4rem top 17.5rem no-repeat,
            url("./../../../images/large/tantum-in-UK-II.jpg") right top  no-repeat;
            .address-project{
                display: flex;
                padding: 2rem 2rem 58rem 0;
            }
            
        }

        .seen-beach{
            background:  url("./../../../images/large/tantum-beach-UK.jpg") top  right  no-repeat;
        }

        .seen-statium{
            background:  url("./../../../images/large/tantum-stadium-UK.jpg") top right no-repeat;
        }
       
    }
}