.tantum-block{
    margin-bottom: 4rem;
   
    h2{
        font-size: 1.6rem;
        font-family: "Playfair Display", serif;
    }
    p{
        line-height: 1.5;
        font-size: 1.1rem;
    }
}

.tantum-block.end-to-end{
    padding-top: 8.7rem;
    background-image:  url("./../../images/small/tantum-engineer-planning.jpg"),
    linear-gradient(to left, #e8e6e6 20.5rem, rgba(0,0,0,0) 20.5rem );
    background-position: left 3rem, left  -15rem;
    background-size: auto  17.1rem;
    background-repeat: no-repeat;
    padding-bottom: 2.5rem;
    .content{
        width: 20.5rem;
        margin-left: auto;
        .content-info{
            background: #fff;
            padding: 1.3rem;
            
            p{
                color: #000;
                padding-top: 1.5rem;
            }
        }
        .content-btn{
            background: #e8e6e6;
            padding: 2.6rem 0;
            text-align: center;
        }
    }
}

.tantum-block.our-purpose{
    margin-left: 3.5rem;
    background: url("./../../images/small/tantum-sunflower.png") right top 3.3rem no-repeat;
    h2{
        margin-bottom: 1rem;
    }

    p{
        margin-right: 35%;
    }
    p:first-of-type{
        color: #000;
        margin-bottom: 1.5rem;
        margin-right: 45%;
    }
}

.tantum-block.tantum-steps{
    min-height: 50rem;
    background-image: url("./../../images/small/tantum-house-modular-kitchen.jpg"),
    linear-gradient(to left, #fafafa 0,  #fafafa 19rem, rgba(0,0,0,0) 0rem );
    background-position: right 2rem, top right 3.6rem;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;

    .features{
        margin-right: 17rem;
        padding-top: 2rem;
        max-width: 35rem;
        .feature{
            background: #e8e6e6;
            margin-bottom: 1rem;
            padding: 2rem 1.5rem 1rem 3.6rem;

            h5{
                text-transform: uppercase;
                font-size: 1.1rem;
                margin-bottom: 0.5rem;
            }

            .info{
                height: 5rem;
                margin-bottom: 1.5rem;
                overflow-y: hidden;
                p{
                    color: #000;
                    line-height: 1.2;
                }
            }
            .info.active{
                height: 100%;
                overflow-y: visible;
            }
            a{
                display: block;
                text-align: right;
                background: url("./../../images/see-more-btn.svg") right center / 1rem no-repeat;
                padding-right: 1.5rem;
            }
            a.active{
               background: url("./../../images/read-less-arrow.svg") right center / 1rem no-repeat;
            }

        }

        .feature.checkList {
               
            p{
                margin-bottom: 2rem;
            }
            button{
                border: 1px solid #000;
                font-family: "Playfair Display", serif;
                text-transform: uppercase;
                background: #fff url("./../../images/see-more-btn.svg") right 1rem center no-repeat;
                margin-bottom: 2rem;
                padding: 1rem 3rem;
            }

            button.show-less{
                background: #fff url("./../../images/read-less-arrow.svg") right 1rem center no-repeat;
            }

            .check-list{
                display: none;
                font-size: 1.1rem;
                h6{
                    
                    font-weight: bold;
                    color: #000;
                }

                ul{
                    margin-bottom: 1.5rem;
                    color: #000;
                    li{
                        margin:0.5rem 0;
                    }
                }

            }

            .check-list.show-list{
                display: block;
            }
            
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px){

    .tantum-block{
        margin-bottom: 4rem;
       
        h2{
            font-size: 3.2rem;
            font-family: "Playfair Display", serif;
        }
        p{
            line-height: 1.5;
            font-size: 1.6rem;
        }
        button{
            min-width: 13.6rem;
            font-size: 1.4rem;
        }
    }
    

    .tantum-block.end-to-end{
        padding-top: 25.3rem;
        background-image:  url("./../../images/medium/tantum-engineer-planning.jpg"),
        linear-gradient(to left, #e8e6e6 46.9rem, rgba(0,0,0,0) 20.5rem );
        background-position: left 6.2rem, left  -10.5rem;
        background-size: auto  37.8rem;
        background-repeat: no-repeat;
        padding-bottom: 2.5rem;
        .content{
            width: 46.9rem;
            margin-left: auto;
            .content-info{
                background: #fff;
                padding: 3rem;
                p{
                    color: #000;
                    padding-top: 1.5rem;
                }
            }
            .content-btn{
                background: #e8e6e6;
                padding: 3.5rem 0;
                text-align: center;
            }
        }
    }
    
    .tantum-block.our-purpose{
        margin-left: 6.2rem;
        background: url("./../../images/medium/tantum-sunflower.png") right top 3.3rem no-repeat;

        p{
            max-width: 38.5rem;
        }
       
    }

    .tantum-block.tantum-steps{
        min-height: 62.3rem; /*x*/
        background-image: url("./../../images/medium/tantum-house-modular-kitchen.jpg"), /*x*/
        linear-gradient(to left, #fafafa 0,  #fafafa 31rem, rgba(0,0,0,0) 0rem ); /*x*/
        background-position: right 4rem, top -5rem right 3.6rem; /*x*/
    
        .features{
            margin-right: 30.5rem;
            padding-top: 4rem;
            max-width: 50rem;
            .feature{
                margin-bottom: 1.5rem;/*x*/
                padding: 2.5rem 1.5rem 1rem 3rem; /*x*/
    
                h5{
                    font-size: 1.6rem; /*x*/
                    margin-bottom: 0.5rem;
                }
    
                .info{
                    height: 7rem; /*x*/
                    margin-bottom: 1.5rem;
                    overflow-y: hidden;
                    p{
                        line-height: 1.7;  /*x*/
                        font-size: 1.4rem; /*x*/
                    }
                }
                a{
                    font-size: 1.2rem; /*x*/
                    background: url("./../../images/see-more-btn.svg") right center / 1rem no-repeat;
                    padding-right: 2.5rem;
                }
                
            }

            .feature.checkList {
               
                p{
                    margin-bottom: 2rem;
                }
                button{
                    border: 1px solid #000;
                    font-family: "Playfair Display", serif;
                    text-transform: uppercase;
                    background: #fff url("./../../images/see-more-btn.svg") right 1rem center no-repeat;
                    margin-bottom: 2rem;
                }

                button.show-less{
                    background: #fff url("./../../images/read-less-arrow.svg") right 1rem center no-repeat;
                }

                .check-list{
                    display: none;
                    font-size: 1.5rem;
                    h6{
                        
                        font-weight: bold;
                        color: #000;
                    }

                    ul{
                        margin-bottom: 2rem;
                        color: #000;
                        li{
                            margin:0.5rem 0;
                        }
                    }

                }

                .check-list.show-list{
                    display: block;
                }
                
            }

           
        }
    }
    

}

@media screen and (min-width:1024px){

    .tantum-block{
        margin-bottom: 4rem;
       
        h2{
            font-size: 4.2rem; /*x*/
            font-family: "Playfair Display", serif;
        }
        p{
            line-height: 1.5;
            font-size: 2rem; /*x*/
        }
        button{
            min-width: 14rem;
            font-size: 1.4rem;
        }
    }
    

    .tantum-block.end-to-end{
        margin-bottom: 13.8rem; /*x*/
        padding-top: 23rem; /*x*/
        background-image:  url("./../../images/large/tantum-engineer-planning.jpg"), /*x*/
        linear-gradient(to left, #e8e6e6 46.9rem, rgba(0,0,0,0) 20.5rem );
        background-position: left 6.9rem, left  -10.5rem; /*x*/
        background-size: auto  37.8rem;
        background-repeat: no-repeat;
        padding-bottom: 2.5rem;
        .content{
            width: 55.4rem; /*x*/
            margin-left: auto;
            .content-info{
                background: #fff;
                padding: 3rem;
                p{
                    color: #000;
                    padding-top: 1.5rem;
                }
            }
            .content-btn{
                background: #e8e6e6;
                padding: 4.5rem 0; /*x*/
                text-align: center;
            }
        }
    }
    
    .tantum-block.our-purpose{
        margin-left: 20rem;
        background: url("./../../images/large/tantum-sunflower.png") right top 3.3rem no-repeat;

        p{
            max-width: 66rem;
        }

    }

    .tantum-block.tantum-steps{
        min-height: 86rem; /*x*/
        background-image: url("./../../images/large/tantum-house-modular-kitchen.jpg"), /*x*/
        linear-gradient(to left, #fafafa 0,  #fafafa 31rem, rgba(0,0,0,0) 0rem ); /*x*/
        background-position: right 4rem, top -5rem right 3.6rem; /*x*/
    
        .features{
            margin-right: 42rem;
            padding-top: 4rem;
            max-width: 58rem;
            .feature{
                margin-bottom: 3rem;/*x*/
                padding: 5rem 2rem 3rem 4rem; /*x*/
    
                h5{
                    font-size: 2rem; /*x*/
                    margin-bottom: 0.5rem;
                }
    
                .info{
                    height: 6rem; /*x*/
                    margin-bottom: 1.5rem;
                    overflow-y: hidden;
                    p{
                        line-height: 1.7;  /*x*/
                        font-size: 1.6rem; /*x*/
                    }
                }
                a{
                    font-size: 1.4rem; /*x*/
                    background: url("./../../images/see-more-btn.svg") right 1rem / 2rem no-repeat;
                    padding-right: 3rem;
                    padding-top: 0.5rem;
                }
                a.active{
                    background: url("./../../images/read-less-arrow.svg") right 1rem / 2rem no-repeat;
                 }
            }
            .feature.checkList {
               
                p{
                    margin-bottom: 2rem;
                }
                button{
                    border: 1px solid #000;
                    font-family: "Playfair Display", serif;
                    text-transform: uppercase;
                    background: #fff url("./../../images/see-more-btn.svg") right 1rem center no-repeat;
                    margin-bottom: 2rem;
                }

                button.show-less{
                    background: #fff url("./../../images/read-less-arrow.svg") right 1rem center no-repeat;
                }

                .check-list{
                    display: none;
                    font-size: 2rem;
                    h6{
                        
                        font-weight: bold;
                        color: #000;
                    }

                    ul{
                        margin-bottom: 3rem;
                        color: #000;
                        li{
                            margin:0.5rem 0;
                        }
                    }

                }

                .check-list.show-list{
                    display: block;
                }
                
            }
        }
    }
}